MOTH_PORT=6969
MOTH_TRASH_PATH=/path/to/trash
MOTH_CRON=0 3 * * *
MOTH_NOTIFY_LEAD_HOURS=48
MOTH_APPRISE_URLS=
MOTH_API_KEY=
MOTH_DATABASE_URL=sqlite:////data/moth.db
MOTH_LOG_LEVEL=INFO
MOTH_TAUTULLI_URL=
MOTH_TAUTULLI_API_KEY=
MOTH_TAUTULLI_ENABLED=false
